@import "tailwindcss";

@theme {
  /* cores da 7FATO no padrão v4 */
  --color-background: #1a1a1a;
  --color-header: #141414;
  --color-primary: #09a401;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
  }
}
